@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000 url(./assets/menu.webp);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}
.toggle.active {
    background: #000 url(./assets/close.webp);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
section {
    padding: 100px;
    min-height: 100vh;
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.banner .imgSidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    background-color: #fff;
}
.banner .imgSidebar img {
    position: absolute;
    left: 50px;
    top: 250px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}
.banner .contentBox, .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.banner .contentBox div {
    position: absolute;
    left: 100px;
}
.logoText {
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #333;
    color: #fff;
    padding: 0 5px;
}
.banner .contentBox h4 {
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
}
.banner .contentBox h4 span {
    color: #00bcd4;
    font-size: 1.5em;
    font-weight: 700;
}
.banner .contentBox h2 {
    font-size: 3em;
    color: #333;
    line-height: 1em;
}
p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}
.button {
    background: #00bcd4;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 40px;
}
.sidebar {
    position: fixed;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%
}
.sidebar.active {
    right: 0;
}
.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar ul li {
    list-style: none;
}
.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sidebar ul li a:hover {
    color: #00bcd4;
}
.sci {
    position: absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li {
    margin-right: 10px;
    list-style: none;
}
.sci li img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    opacity: 0.7;
}
.sci li img:hover{
    transform: scale(2);
    opacity: 1;
}
.title {
    width: 100%;
    text-align: center;
}
.title h2 {
    position: relative;
    color: #00bcd4;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}
.title p {
    max-width: 700px;
    display: inline-block;
}
.title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #000;
}
.title.white h2, .title.white p {
    color: #fff;
    margin-bottom: 100px;
}
.title.white p {
    text-align: justify;
    line-height: 1.6;
}
.title.white h2::before {
    background: #fff;
}
.about {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.technologies .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
}
.technologies .content .techBox {
    padding: 40px 20px;
    height: 200px;
    width: 200px;
    margin: 20px;
    transition: 0.5s;
    text-align: center;
    background-color: #f5f5f5;
}
.technologies .content .techBox:hover {
    background-color: #c4bbbb;
}
.technologies .content .techBox img {
    max-width: 80px;
    transition: 0.5s;
}
.technologies .content .techBox h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transform: 0.5s;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
}
.projects .content .projectBox {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transition: 0.5s;
    text-align: center;
}
.projects .content .projectBox .imgBox,
.projects .content .projectBox .textBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.projects .content .projectBox .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.projects .content .projectBox .textBox {
    background-color: #000;
    opacity: 0;
    transition: 0.5s;
}
.projects .content .projectBox:hover .textBox {
    opacity: 1;
}
.projects .content .projectBox .textBox h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
}
.projects .content .projectBox .textBox p {
    color: #fff;
    font-size: 1em;
}
.contact .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
